<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Debnath Sinha" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'homepageofdebnathsinha'; // required: replace example with your forum shortname
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
	
<div class="site">

  <div id="header">
    <div id="header-inner">
      <h1 id="header-name"><a href="/">The Chronicles of Debnath</a></h1>
      <h2 id="header-description">These are my thoughts and opinions on various subjects. Any shortcomings are my own. <br> 
	As for any insights, to quote Newton : "If I see further, it is by standing on the shoulder of giants."</h2>
    </div>
  </div>
  <div id="container">
    <div id="content">
      <div id="content-inner">
	<div id="alpha">
	  {{ content }}
	</div>
	<div id="beta">
	  <div id="beta-inner">
	  <div class="contact">
	    <img id="profile-image" src="/images/fbprofile.jpg" width="240" height="180">
	    <p>
              Debnath Sinha<br />
              Member of Technical Staff <a href="http://salesforce.com/">Salesforce</a><br />
              {firstname}{lastname}@gmail.com
	    </p>
	    <p>
	      <a href="http://www.linkedin.com/pub/debnath-sinha/4/aab/a8b">LinkedIn</a><br />
              <a href="http://github.com/debnathsinha/">github</a><br />
	      <a href="http://facebook.com/debnaths">Facebook</a><br />
              <a href="http://twitter.com/d3bnath/">Twitter</a><br />
	    </p>
	  </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
